<nav class="navbar navbar-expand-lg px-4 custom-navbar animate__animated animate__fadeInDown">
  <div class="container-fluid navbar-layout">

    <div class="d-flex align-items-center gap-3 navbar-left">

      <img src="logo.png" alt="Clinic Logo" class="logo-img" />

      <div class="brand-text">
        <h5 class="mb-0 fw-bold clinic-name">
          ClinicCare <span>Dental</span>
        </h5>
        <small class="system-name">Booking Management</small>
      </div>

    </div>

    <div class="d-flex align-items-center  gap-2 navbar-actions">

      <button class="btn btn-history" aria-label="Open treated patients history" data-bs-toggle="offcanvas"
        data-bs-target="#treatedPatients" title="Treated Patients">
        <i class="bi bi-clock-history"></i>
        <span class="label-full"> Patient History</span>
        <span class="label-short"> History</span>
      </button>

      <button class="btn btn-add fw-bold" [attr.aria-pressed]="showForm" [ngClass]="showForm ? 'btn-close-form' : ''"
        (click)="toggleForm.emit()">
        <i class="bi" [ngClass]="showForm ? 'bi-x-circle' : 'bi-plus-circle'">
        </i>
        <span class="label-full">
          {{ showForm ? 'Close' : 'Add Patient' }}
        </span>
        <span class="label-short">
          {{ showForm ? 'Close' : 'Patient' }}
        </span>
      </button>


    </div>

  </div>
</nav>