<div class="card mb-2 animate__animated" [ngClass]="mode === 'incoming' ? 'animate__fadeInLeft' : 'animate__fadeInUp'">

  <div class="card-body">
  <div class="d-flex justify-content-between align-items-center">

  <h6 class="mb-0">
    {{ patient.name }}
  </h6>

<button
  class="btn btn-sm btn-outline-secondary p-0"
  (click)="onViewDetails()"
  title="View Details">

  <i class="bi bi-exclamation-lg"></i>
</button>

</div>


  @if (mode === 'incoming') {
     <small class="text-muted d-block">
      {{ patient.bookingDate | date:'yyyy/MM/dd - HH:mm' }}
      @if (isLate){
        <span  class="badge bg-danger ms-2">
        Late
      </span>
      }
    </small>
  }
   
  @if (mode === 'waiting') {
     <span class="badge mb-2" [ngClass]="{
        'bg-danger': patient.bookingType === BookingType.Emergency,
        'bg-info': patient.bookingType === BookingType.WalkIn,
        'bg-success': patient.bookingType === BookingType.Scheduled
      }">
      {{ patient.bookingType }}
    </span>
  }

  @if (mode === 'incoming') {
     <div class="mt-2 d-flex flex-wrap gap-3">
      <button (click)="onArrive()" class="btn btn-sm btn-success me-1">
        Arrived at Clinic
      </button>

      @if (patient.bookingType === BookingType.Scheduled) {
         <button (click)="onCancel()"
        class="btn btn-sm btn-outline-danger">
        Cancel
      </button>
      }
     
    </div>
  }
   

  @if (mode === 'waiting') {
     <button (click)="onTreat()" class="btn btn-sm btn-warning w-100 mt-2">
      Move to Treatment
    </button>
  }
   
   <div class="d-flex flex-column mt-2 gap-2">
    @if (mode === 'waiting' && patient.arrivedAt) {
       <small class="text-muted d-block">
      Arrived at: {{ patient.arrivedAt | date:'HH:mm' }}
    </small>
    }
    
    @if (mode === 'waiting' && patient.arrivedAt) {
       <small class="text-muted">
      Waiting: {{ waitingMinutes }} min
    </small>
    }
   
   </div>

  </div>
</div>
