<div class="modal-backdrop fade show"></div>

<div class="modal fade show d-block">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content shadow-lg rounded-3">

      <div class="modal-header bg-secondary text-white">
        <h5 class="modal-title">
          {{ patient?.name }}
        </h5>
        <button type="button" class="btn-close btn-close-white"
                (click)="onClose()"></button>
      </div>

      <div class="modal-body">

        <p><strong>Phone:</strong> {{ patient?.phone }}</p>
        <p><strong>Blood Type:</strong> {{ patient?.bloodType }}</p>
        <p><strong>Booking Type:</strong> {{ patient?.bookingType }}</p>
        <p><strong>Status:</strong> {{ patient?.status }}</p>

        <p>
          <strong>Booking Date:</strong>
          {{ patient?.bookingDate | date:'yyyy/MM/dd - HH:mm' }}
        </p>

        @if (patient?.arrivedAt) {
              <p>
          <strong>Arrived At:</strong>
          {{ patient?.arrivedAt | date:'HH:mm' }}
        </p>
        }
      
        @if (patient?.treatedAt) {
             <p>
          <strong>Treated At:</strong>
          {{ patient?.treatedAt | date:'HH:mm' }}
        </p>
        }

      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary"
                (click)="onClose()">
          Close
        </button>
      </div>

    </div>
  </div>
</div>
